
.flex-column {
    background-color: white;
    float: left;
    width: 15%;
    height: 100%;
    border: 1px solid gainsboro;
}

.section {
    background-color: white;
    width: 85%;
    float: left;
}